body{
    margin: 0;
    height: 100vh;
   background-repeat: round;
}

.wrapper{
    height: 100vh;
    display: flex;
   width: 100vw;
}

.st{
position: absolute;
top: 50px;
left: 40px;
font-size: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(163, 212, 29);
border-radius: 40px;
}
.st:hover{
    box-shadow: 0px 0px 38px 41px rgba(135,204,30,0.66);
}